@charset "UTF-8";

@import "mixin";
@import "variable";

@include font-face("iconfont", "../../fonts/iconfont");

//@font-face {
//  font-family: 'iconfont';
//  src: url('//at.alicdn.com/t/font_1450751351_9689445.eot'); /* IE9*/
//  src: url('//at.alicdn.com/t/font_1450751351_9689445.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('//at.alicdn.com/t/font_1450751351_9689445.woff') format('woff'), /* chrome、firefox */
//  url('//at.alicdn.com/t/font_1450751351_9689445.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
//  url('//at.alicdn.com/t/font_1450751351_9689445.svg#iconfont') format('svg'); /* iOS 4.1- */
//}


.if {
  line-height: 1;
  height: 1em;
  margin-right: 0.3em;
  display: inline-block;
  font-style: normal;
  &:before {
    font-family: iconfont !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
}


.if-primary:before {
  color: $c-primary;
}

.if-000:before {
  color: black;
}

.if-333:before {
  color: #333333;
}

.if-666:before {
  color: #666666;
}

.if-999:before {
  color: #999999;
}

.if-ccc:before {
  color: #cccccc;
}

.if-ddd:before {
  color: #dddddd;
}

.if-fff:before {
  color: white;
}

.if-fr {
  &:before {
    float: right;
  }
}

@for $i from 1 through 15 {
  .if-#{$i}:before {
    font-size: $i / 5 + em;
  }
}

@for $i from -10 through 10 {
  .if-p-#{$i}:before {
    top: $i + px;
  }
}

.if {
  position: relative;
  .if {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    top: 50%;
    margin-top: -0.5em;
    font-size: 0.6em;
    &:before {
      margin-right: 0;
    }
  }
}

.icon-check-triangle {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 0;
}








.icon-upload:before { content: "\e632"; }
.icon-download:before { content: "\e679"; }
.icon-home:before { content: "\e66b"; }
.icon-trash-bin:before { content: "\e6b2"; }
.icon-pad-paper:before { content: "\e697"; }
.icon-shopping-bag:before { content: "\e65c"; }
.icon-shield-grid:before { content: "\e6a9"; }
.icon-heart-o:before { content: "\e618"; }
.icon-man-2-o:before { content: "\e62f"; }
.icon-star-o:before { content: "\e64c"; }
.icon-user:before { content: "\e608"; }
.icon-plus-thin:before { content: "\e604"; }
.icon-card-o:before { content: "\e620"; }
.icon-comment-dot-circle:before { content: "\e635"; }
.icon-display:before { content: "\e631"; }
.icon-announcement-board:before { content: "\e636"; }
.icon-identity-card:before { content: "\e610"; }
.icon-comment-dot-square:before { content: "\e6ae"; }
.icon-paper-check-o:before { content: "\e64b"; }
.icon-triangle-down:before { content: "\e644"; }
.icon-pad-pencil-tough:before { content: "\e699"; }
.icon-fire:before { content: "\e656"; }
.icon-comment-dot-square-o:before { content: "\e639"; }
.icon-pencil:before { content: "\e673"; }
.icon-envelope-clean:before { content: "\e63a"; }
.icon-star:before { content: "\e65d"; }
.icon-heart:before { content: "\e649"; }
.icon-settings:before { content: "\e6af"; }
.icon-star-o-cute:before { content: "\e607"; }
.icon-building-2:before { content: "\e685"; }
.icon-envelope:before { content: "\e6b3"; }
.icon-envelope-o:before { content: "\e651"; }
.icon-mobile:before { content: "\e652"; }
.icon-user-plus:before { content: "\e683"; }
.icon-plus-square-o:before { content: "\e6a7"; }
.icon-item-browse:before { content: "\e66c"; }
.icon-dollar-circle-stack:before { content: "\e69a"; }
.icon-lightning-o:before { content: "\e664"; }
.icon-plus-circle-o:before { content: "\e6a2"; }
.icon-rmb-alarm:before { content: "\e63b"; }
.icon-question-circle:before { content: "\e678"; }
.icon-man-3:before { content: "\e691"; }
.icon-i-circle:before { content: "\e623"; }
.icon-radio-checked:before { content: "\e6a4"; }
.icon-paper-scroll:before { content: "\e686"; }
.icon-wechat:before { content: "\e68c"; }
.icon-shutdown-thick:before { content: "\e611"; }
.icon-guard-o:before { content: "\e605"; }
.icon-angle-right:before { content: "\e619"; }
.icon-angle-left:before { content: "\e61a"; }
.icon-error-circle-break-o:before { content: "\e6ab"; }
.icon-smile:before { content: "\e648"; }
.icon-inspect:before { content: "\e627"; }
.icon-shopping-bag1:before { content: "\e60f"; }
.icon-square-o:before { content: "\e6a3"; }
.icon-check-circle:before { content: "\e625"; }
.icon-question-bubble:before { content: "\e69d"; }
.icon-mobile-o:before { content: "\e615"; }
.icon-scan-qr:before { content: "\e62d"; }
.icon-eye:before { content: "\e6a0"; }
.icon-gold-stack-2:before { content: "\e65a"; }
.icon-angle-up:before { content: "\e61b"; }
.icon-quote-open:before { content: "\e63c"; }
.icon-minus-circle:before { content: "\e624"; }
.icon-identity-card-o:before { content: "\e606"; }
.icon-phone:before { content: "\e63d"; }
.icon-thumb-up:before { content: "\e645"; }
.icon-check-circle-o:before { content: "\e692"; }
.icon-envelope-open:before { content: "\e6b4"; }
.icon-angle-down:before { content: "\e61c"; }
.icon-thumb-up-o:before { content: "\e63e"; }
.icon-angle-top-circle-o:before { content: "\e6b6"; }
.icon-user-round-o:before { content: "\e689"; }
.icon-check-square-break-o:before { content: "\e616"; }
.icon-lang:before { content: "\e6a6"; }
.icon-mouse-display:before { content: "\e672"; }
.icon-map-marker:before { content: "\e600"; }
.icon-user-3-o:before { content: "\e603"; }
.icon-user-circle-o:before { content: "\e609"; }
.icon-loop:before { content: "\e657"; }
.icon-address-o:before { content: "\e626"; }
.icon-user-split-o:before { content: "\e690"; }
.icon-check:before { content: "\e61d"; }
.icon-reply:before { content: "\e6b5"; }
.icon-angle-right-thin:before { content: "\e62b"; }
.icon-triangle-right:before { content: "\e62a"; }
.icon-angle-up-thin:before { content: "\e62c"; }
.icon-gold-stack-2-o:before { content: "\e671"; }
.icon-plus-circle:before { content: "\e695"; }
.icon-identity-card-check:before { content: "\e67a"; }
.icon-wechat-circle:before { content: "\e630"; }
.icon-map-marker-o:before { content: "\e662"; }
.icon-rmb-out:before { content: "\e67c"; }
.icon-bank-card:before { content: "\e67d"; }
.icon-card-plus:before { content: "\e621"; }
.icon-at:before { content: "\e622"; }
.icon-envelope-check:before { content: "\e612"; }
.icon-identity-card-check-o:before { content: "\e613"; }
.icon-tag:before { content: "\e663"; }
.icon-dot-line-3:before { content: "\e66a"; }
.icon-pad-pencil:before { content: "\e68b"; }
.icon-robot:before { content: "\e675"; }
.icon-envelope-clean-o:before { content: "\e64d"; }
.icon-comment-line-square:before { content: "\e665"; }
.icon-user-simple-o:before { content: "\e61e"; }
.icon-weibo:before { content: "\e66f"; }
.icon-line-3:before { content: "\e666"; }
.icon-newspapaer:before { content: "\e63f"; }
.icon-question-circle-o:before { content: "\e67e"; }
.icon-paper-2:before { content: "\e68e"; }
.icon-rmb-in:before { content: "\e67f"; }
.icon-wallet-o:before { content: "\e60a"; }
.icon-rmb-loop:before { content: "\e6a1"; }
.icon-home-o:before { content: "\e60b"; }
.icon-ldquo:before { content: "\e6a8"; }
.icon-i-italic:before { content: "\e66d"; }
.icon-cash:before { content: "\e628"; }
.icon-pad-tripod:before { content: "\e698"; }
.icon-plus-thick:before { content: "\e66e"; }
.icon-comment-line-round:before { content: "\e65b"; }
.icon-check-triangle:before { content: "\e646"; }
.icon-square-4:before { content: "\e65f"; }
.icon-phone-o:before { content: "\e667"; }
.icon-password-o:before { content: "\e61f"; }
.icon-contacts-o:before { content: "\e693"; }
.icon-circle-o:before { content: "\e6a5"; }
.icon-rocket-lean-o:before { content: "\e60c"; }
.icon-trade-log:before { content: "\e681"; }
.icon-rmb-card-o:before { content: "\e694"; }
.icon-file:before { content: "\e601"; }
.icon-invest-hexagon-o:before { content: "\e60d"; }
.icon-check-tough:before { content: "\e658"; }
.icon-check-circle-break-o:before { content: "\e674"; }
.icon-weibo-circle:before { content: "\e633"; }
.icon-signpost-o:before { content: "\e668"; }
.icon-address-marker-o:before { content: "\e682"; }
.icon-alarm-clock:before { content: "\e68f"; }
.icon-paper-check:before { content: "\e64e"; }
.icon-hexagon:before { content: "\e617"; }
.icon-rmb-hexagon-o:before { content: "\e614"; }
.icon-tag-slim:before { content: "\e655"; }
.icon-pdf:before { content: "\e67b"; }
.icon-sad:before { content: "\e676"; }
.icon-board-blank:before { content: "\e654"; }
.icon-wechat-square:before { content: "\e650"; }
.icon-quote-close:before { content: "\e642"; }
.icon-home-round:before { content: "\e65e"; }
.icon-user-o:before { content: "\e638"; }
.icon-weibo-square:before { content: "\e661"; }
.icon-paper-check-3:before { content: "\e659"; }
.icon-paper-pencil:before { content: "\e641"; }
.icon-shutdown:before { content: "\e669"; }
.icon-eye-o:before { content: "\e687"; }
.icon-fire1:before { content: "\e643"; }
.icon-pdf-win8:before { content: "\e602"; }
.icon-user-2-o:before { content: "\e688"; }
.icon-newspaper:before { content: "\e660"; }
.icon-triangle-up:before { content: "\e640"; }
.icon-angle-left-thin:before { content: "\e637"; }
.icon-angle-down-thin:before { content: "\e62e"; }
.icon-angle-down-2:before { content: "\e64a"; }
.icon-thumb-down:before { content: "\e647"; }
.icon-thumb-down-o:before { content: "\e634"; }
.icon-triangle-left:before { content: "\e629"; }
.icon-lock-o:before { content: "\e6b8"; }
.icon-rmb-circle-o:before { content: "\e64f"; }
.icon-v:before { content: "\e60e"; }
.icon-back-top:before { content: "\e68a"; }
.icon-paper:before { content: "\e6b1"; }
.icon-point-qr:before { content: "\e677"; }
.icon-warn-circle:before { content: "\e69e"; }
.icon-jian-square:before { content: "\e69b"; }
.icon-ling-circle:before { content: "\e670"; }
.icon-pencil-o:before { content: "\e684"; }
.icon-data-inspect:before { content: "\e680"; }
.icon-magnifier:before { content: "\e6b7"; }
.icon-rmb-card:before { content: "\e696"; }
.icon-check-circle-tough:before { content: "\e69c"; }
.icon-arrow-left:before { content: "\e6ac"; }
.icon-arrows-switch-h:before { content: "\e68d"; }
.icon-back-square:before { content: "\e6b0"; }
.icon-check-circle-break-tough-o:before { content: "\e6aa"; }
.icon-warn-triangle-cylinder:before { content: "\e69f"; }
.icon-rdquo:before { content: "\e6ad"; }
