<extend name="base"/>

<block name="main">
<div class="view-win">
    <div class="view view-form in c-primary">
        <form action="" class="form-bm w-94 hc fzqkbys">
            <h3 class="tac w-80 hc fwn">欢迎报名参加</h3>
            <h2 class="ywsfxs tac fwn">“横店穿越行”</h2>

            <div class="ctrl-group">
                <label for="intro">请输入您的报名宣言</label>
                <div class="ctrl-wrap">
                    <textarea name="" id="intro" class="textarea-intro" placeholder="填写简介，让大家了解你为你助威！（32字以内）" maxlength="32"></textarea>
                </div>
            </div>
            <div class="ctrl-group">
                <label for="tel">请输入您的联系方式：</label>
                <div class="ctrl-wrap">
                    <input type="tel" id="tel" placeholder="手机号码" maxlength="13">
                </div>
            </div>
            <div class="tac">
                <img src="__IMG__/hdcyx/btn-bm.png" alt="提交报名" class="btn-generate db w-40 hc">
            </div>
            <div class="img-bm"></div>
            <div class="s-footer"></div>
        </form>

    </div>
    <div class="view view-img">
        <img src="" alt="" noerr>
    </div>
</div>

<div class="modal modal-cropper fade" tabindex="-1" data-mt="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">裁剪照片</h4>
            </div>
            <div class="modal-body">
                <div class="loading">正在生成缩略图, 可能需要花费一点时间...</div>
                <div class="cropper-wrap mt-10">
                    <img src="" id="img-preview" noerr>
                </div>
                <div class="preview-box hc mt-6"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-crop">确定</button>
                <button type="button" class="btn btn-o" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
</block>

<block name="script">
<script src="__STATIC__/js/cropper.min.js"></script>
<script src="__STATIC__/lrz/lrz.bundle.js"></script>
<script>
    $(function () {
        var $img = $('#img-preview'),
                $btnGenerate = $('.btn-generate'),
                $loading = $('.loading'),
                $modal = $('.modal-cropper'),
                imgData = ''
        $('#input-pic').on('click', function () {
            this.value = null
        }).on('change', function () {
            if (this.files.length === 0) return
            var modalShown = 0
            $modal.modal().on('shown', function () {
                modalShown = 1
            })
            $loading.show()

            lrz(this.files[0]).then(function (rst) {
                $loading.hide()
                var crop = function () {
                    if ($img.attr('src')) {
                        $img.cropper('replace', rst.base64)
                    } else {
                        $img.attr('src', rst.base64).cropper({
                            viewMode: 1,
                            dragMode: 'move',
                            aspectRatio: 16 / 9,
                            preview: '.preview-box'
                        })
                        $btnGenerate.prop('disabled', false)
                    }
                }
                if (modalShown) crop()
                else {
                    $modal.on('shown', crop)
                }
            }).catch(function (err) {
                dm.alert(err)
            })
        })
        $('.btn-crop').on('click', function () {
            $modal.modal('hide')
            imgData = $img.cropper('getCroppedCanvas', {
                width: 320
            }).toDataURL()
            $('.img-cropped').attr('src', imgData)
            $('.pick-wrap').hide()
            $('.cropped-img-preview').show()
        })
        $btnGenerate.on('click', function () {
            dm.loading()
            setTimeout(function () {
                dm.loading('hide')
                $('.view').removeClass('in')
                $('.view-img').addClass('in')
            }, 3000)
        })
    })
</script>
</block>

