<extend name="base"/>
<block name="main">
<div class="view-win">
    <div class="view view-support in">
        <div class="stage fzqkbys tac">
            <h2 class="fwn ellipsis w-94">我愿意助威 <strong class="fwn">水长东</strong></h2>
            <h2 class="fwn">参与“横店穿越行”</h2>
            <div class="img-support"></div>
            <div class="c-3 fz-small text-var">
                已有 <strong class="c-danger support-count">123</strong> 人为他助威 &nbsp; &nbsp; &nbsp; &nbsp; 倒数计时: <var class="countdown">3 天 13 小时</var>
            </div>
            <div class="fz-small">如果你也想与知名投资人来一场说走就走的旅行！</div>
            <div class="fz-small">如果你也想与知名投资机构畅谈未来3年创业方向！</div>
            <div class="ywsfxs fz-big w-80 hc">仅剩 <strong class="c-danger">3</strong> 个名额<br><u class="fz-bigger">等你来抢！</u></div>
            <div class="qr-bm tac">
                <img src="__IMG__/hdcyx/qr-bm.png" alt="" class="db w-80 hc">
            </div>
            <div class="s-footer"></div>
        </div>
    </div>
</div>
</block>

<block name="script">
<script>
    var userHasSupport = 0
</script>
</block>