@import "../../sass/bourbon/bourbon"
@import "../../sass/mixin"
@import "../../sass/variable"
@import "../../sass/susy/susy"

@import "../../sass/cropper"

@import "../../sass/modals"

$breakpoints: (tiny: 360px, small: 480px, medium: 768px, large: 1024px)

@function rem($px)
    @return $px / 1080 * 20rem

+font-face('arc', '../../static/font/arc')

html
    box-sizing: border-box

body
    font-size: $fz-base
    font-family: $font-family-sans-serif

*, *:before, *:after
    box-sizing: inherit

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0


img
    max-width: 100%
.close
    float: right
    font-size: 21px
    font-weight: 700
    line-height: 1
    color: #000
    text-shadow: 0 1px 0
    opacity: .2
    cursor: pointer
    &:hover
        opacity: .5

.view-win
    position: absolute
    top: 0
    height: 100%
    left: 0
    right: 0

.view
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    visibility: hidden
    opacity: 0
    transition: all .5s
    &.in
        visibility: visible
        opacity: 1


.view-form
    input, textarea
        width: 100%
        border: none
        border-bottom: 1px solid black

.modal-cropper
    .modal-dialog
        width: 100%
        margin: 0
    .modal-content
        border-radius: 0
    .preview-box
        max-width: 100%
        width: 320px
        height: 400px
        overflow: hidden


@import "../../sass/atom"